{% extends "main/main.html" %}

{% block content %}
<h1 id="about-the-space">About the Space</h1>
<h2 id="the-idea">The idea</h2>
<p>Helios aims to provide the tools and facilities that can help people make things. We wanted to provide a place that won’t have bothered neighbors or family members when power tools are running. A place that is safe to work with heavy equipment and that can handle fumes/particles that would normally stink up your home.</p>
<h2 id="the-location">The location</h2>
<p>Helios is 5 minutes away from the Place Saint-Henri metro station at 137 Saint-Ferdinand. The space is industrially zoned with concrete floors and brick wall. This means we have less restrictions when it comes to noise and heavy equipment. We wanted to be sure that the location doesn&#39;t restrict the projects that can take place. For example, an ideal place for a welding station is next to the brick wall.</p>
<h2 id="tools-list">Tools List</h2>
<ul>
<li>ATO Waveform Generator</li>
<li>Abra PSU 30V 10A</li>
<li>Compressor 30 Gallons</li>
<li>Computers</li>
<li>Craftman Jigsaw</li>
<li>Craftman Orbital Sander</li>
<li>Dewalt Drill</li>
<li>Dewalt Jigsaw</li>
<li>Electric Stapler</li>
<li>Grinder</li>
<li>HP Oscilloscope 60Mhz</li>
<li>Heatgun Craftman</li>
<li>Heatgun Generic</li>
<li>Hot Glue</li>
<li>Makita Drill</li>
<li>Mastercraft Drillpress</li>
<li>Milwaukee Miter Saw</li>
<li>Phillips Oscilloscope 50Mhz</li>
<li>Rigid Table Saw</li>
<li>Ryobi Bandsaw</li>
<li>Ryobi Belt Sander</li>
<li>Sink</li>
<li>Soldering Station</li>
<li>Tektronix Oscilloscope 100Mhz</li>
<li>Tools List</li>
<li>Various Handtools</li>
<li>Vice</li>
<li>Waveform Generator</li>
<li>Weller Soldering Station</li>
</ul>
<h1 id="about-the-team">About the Team</h1>
<div class="row">
    <div class="col-md-2">
        <h4>Lambert <small>Founder</small></h4>
        <p class="text-center"><img src="{% static 'img/grad.png' %}" alt="QQQ" width="120" height="150" /></p>
        <p>Lambert has an inexplicable fascination for popcorn and toolboxes</p>
    </div>
    <div class="col-md-2">
        <h4>Corey <small>Co-Founder</small></h4>
        <p class="text-center"><img src="{% static 'img/grad.png' %}" alt="QQQ" width="120" height="150" /></p>
        <p>Corey thinks that any fact about him is in a superposition of interesting and not.</p>
    </div>
    <div class="col-md-2">
        <h4>Eric <small>Co-Founder</small></h4>
        <p class="text-center"><img src="{% static 'img/grad.png' %}" alt="QQQ" width="120" height="150" /></p>
        <p>Eric loves numbers. From counting steps to calculus, he is always doing something with numbers.</p>
    </div>
    <div class="col-md-2">
        <h4>Alexandre <small>Co-Founder</small></h4>
        <p class="text-center"><img src="{% static 'img/grad.png' %}" alt="QQQ" width="120" height="150" /></p>
        <p>Alex builds furnitures; he made his own bar and beer rack. Oh, and he also brews beer!</p>
    </div>
    <div class="col-md-2">
        <h4>Aaron <small>Co-Founder</small></h4>
        <p class="text-center"><img src="{% static 'img/grad.png' %}" alt="QQQ" width="120" height="150" /></p>
        <p>Aaron has a strange obsession with robotic actuators. As a matter of fact, he has a box of them.</p>
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}
