{% extends "main/main.html" %}
{% load staticfiles %}
{% block content %}
<div lang="en">
    <h1 id="about-the-space">About the Space</h1>
    <h2 id="the-idea">The idea</h2>
    <p>Helios aims to provide the tools and facilities that can help people make things. We wanted to provide a place that won’t have bothered neighbors or family members when power tools are running. A place that is safe to work with heavy equipment and that can handle fumes/particles that would normally stink up your home.</p>
    <h2 id="the-location">The location</h2>
    <p>Helios is 5 minutes away from the Place Saint-Henri metro station at 137 Saint-Ferdinand. The space is industrially zoned with concrete floors and brick wall. This means we have less restrictions when it comes to noise and heavy equipment. We wanted to be sure that the location doesn&#39;t restrict the projects that can take place. For example, an ideal place for a welding station is next to the brick wall.</p>
</div>
<div lang="fr">
    <h1>&Agrave; Propos</h1>
    <h2>L'atelier</h2>
    <p>Helios est situ&eacute; &agrave; 5 minutes du m&eacute;tro Place Saint-Henri au 137 Saint-Ferdinand. C'est un espace industriel avec un plancher en b&eacute;ton et des murs de brique. Il y a moins de restriction concernant l'utilisation de machinerie lourde et bruyante. On voulait &ecirc;tre certain que les projets de nos membres peuvent &ecirc;tre compl&eacute;t&eacute;s &agrave; Helios. Par exemple, l'endroit id&eacute;al pour la station de soudure &agrave; arc sera &agrave; c&ocirc;t&eacute; du mur de brique.</p>
</div>

<h1 lang="en" id="about-the-team">About the Team</h1>
<h1 lang="fr" id="about-the-team">&Eacute;quipe</h1>

<div lang="en" class="row">
    <div class="col-md-2">
        <h4>Lambert <small>Founder</small></h4>
        <p class="text-center"><img src="{% static 'img/founder-lambert.png' %}" alt="Lambert" width="120" height="150" /></p>
        <p>Lambert has an inexplicable fascination for popcorn and toolboxes</p>
    </div>
    <div class="col-md-2">
        <h4>Corey <small>Co-Founder</small></h4>
        <p class="text-center"><img src="{% static 'img/founder-corey.png' %}" alt="Corey" width="120" height="150" /></p>
        <p>Corey thinks that any fact about him is in a superposition of interesting and not.</p>
    </div>
    <div class="col-md-2">
        <h4>Eric <small>Co-Founder</small></h4>
        <p class="text-center"><img src="{% static 'img/founder-eric.png' %}" alt="Eric" width="120" height="150" /></p>
        <p>Eric loves numbers. From counting steps to calculus, he is always doing something with numbers.</p>
    </div>
    <div class="col-md-2">
        <h4>Alexandre <small>Co-Founder</small></h4>
        <p class="text-center"><img src="{% static 'img/founder-alex.png' %}" alt="Alex" width="120" height="150" /></p>
        <p>Alex builds furnitures; he made his own bar and beer rack. Oh, and he also brews beer!</p>
    </div>
    <div class="col-md-2">
        <h4>Aaron <small>Co-Founder</small></h4>
        <p class="text-center"><img src="{% static 'img/founder-aaron.png' %}" alt="Aaron" width="120" height="150" /></p>
        <p>Aaron has a strange obsession with robotic actuators. As a matter of fact, he has a box of them.</p>
    </div>
    <div class="col-md-2"></div>
</div>

<div lang="fr" class="row">
    <div class="col-md-2">
        <h4>Lambert <small>Fondateur</small></h4>
        <p class="text-center"><img src="{% static 'img/founder-lambert.png' %}" alt="Lambert" width="120" height="150" /></p>
        <p>Lambert a une fascination inexplicable pour le popcorn et les bo&icirc;tes &agrave; outils.</p>
    </div>
    <div class="col-md-2">
        <h4>Corey <small>Co-Fondateur</small></h4>
        <p class="text-center"><img src="{% static 'img/founder-corey.png' %}" alt="Corey" width="120" height="150" /></p>
        <p>Corey a conclue qu'il y a une superposition de faits int&eacute;ressants et moins pertinents.</p>
    </div>
    <div class="col-md-2">
        <h4>Eric <small>Co-Fondateur</small></h4>
        <p class="text-center"><img src="{% static 'img/founder-eric.png' %}" alt="Eric" width="120" height="150" /></p>
        <p>Eric adore les codes barres. Il va en mettre partout pour faire l'inventaire.</p>
    </div>
    <div class="col-md-2">
        <h4>Alexandre <small>Co-Fondateur</small></h4>
        <p class="text-center"><img src="{% static 'img/founder-alex.png' %}" alt="Alex" width="120" height="150" /></p>
        <p>Alex construit des meubles; en fait il a construit son propre bar. Oh, et il brasse de la bi&egrave;re pour son bar!</p>
    </div>
    <div class="col-md-2">
        <h4>Aaron <small>Co-Founder</small></h4>
        <p class="text-center"><img src="{% static 'img/founder-aaron.png' %}" alt="Aaron" width="120" height="150" /></p>
        <p>Aaron a une obsession pour les actuateurs robotiques. En fait, il a une bo&icirc;te juste de ces pi&egrave;ces.</p>
    </div>
    <div class="col-md-2"></div>
</div>

<h1 lang="en" id="Press">Press</h1>
<h1 lang="fr" id="Press">Press</h1>

<div class="row">
    <div class="col-md-2">
        <h4><a href="http://www.echofab.org/2014/01/helios-maker-space-open-house-pre-ouverture/?lang=en" target="_blank">Echofab</a></h4>
        <p>2014-01-16</p>
    </div>
    <div class="col-md-2">
        <h4><a href="http://www.madeinmontreal.org/index.php/en/blog-roll/2379-helios-makerspace-a-community-toolshed-in-montreal" target="_blank">Made In Montreal</a></h4>
        <p>2014-01-30</p>
    </div>
    <div class="col-md-2">
        <h4><a href="http://www.makerfairemontreal.ca/helios-makerspace/" target="_blank">Mini Maker Faire Montreal</a></h4>
        <p>2014-02-06</p>
    </div>
    <div class="col-md-2">
        <h4></h4>
        <p></p>
    </div>
    <div class="col-md-2">
        <h4></h4>
        <p></p>
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}
