{% extends "main/main.html" %}
{% load staticfiles %}
{% block content %}
<div lang="en">
    <h1 id="about-the-space">About the Space</h1>
    <p>Helios Makerspace is a non-profit community workshop that is committed to serve people in the Montreal area. Our mission is to provide the tools to the community necessary to materialize an idea. The equipment ranges from welding, metalworking, woodworking, plastic-working, electronics, programming and many others.</p>
    <p align="center"><img src="{% static 'img/layout.png' %}" alt="Workshop" width="550px"/></p>
    <h2 id="the-idea">Who is it for?</h2>
    <p>Helios Makerspace is an environment for all. Whether you are a student, parent, hobbyist, artist or technology enthusiasts, everybody is welcomed to come, learn, build and share. It’s really for everybody.</p>
    <h2 id="the-location">Solving a problem</h2>
    <p>Many people live in apartments, thus does not have space to house heavy or loud equipment. Others do not have the funding to purchase more specialized equipment. We want to provide to the local community access to electronics, woodworking, metal-working tools and bigger equipment such as a 3D printer, a CNC machine and a laser cutter.</p>
</div>
<div lang="fr">
    <h1>&Agrave; Propos</h1>
    <p>Helios Makerspace est un organisme à but non-lucratif. Cet atelier communautaire s’est engagé à servir la population de la région de Montréal. Le but premier de l’organisme est de fournir à la communauté les outils nécessaires à la matérialisation d’une idée. La diversité de nos équipements nous permet d’offrir des outils propres aux activités de métallurgie, soudure et ébénisterie ainsi que du travail du plastique, en plus des secteurs liés à l’électronique et la programmation et de plusieurs autres tels imprimante 3D, machine CNC, découpeuse Laser.</p>
    <p align="center"><img src="{% static 'img/layout.png' %}" alt="Atelier" width="450px"/></p>
    <h2>Pour qui?</h2>
    <p>Helios Makerspace est un environnement ouvert à tous. Que vous soyez un étudiant, entrepreneur, parent, bricoleur, artistes ou amateurs de technologie, tout le monde est bienvenue à Hélios dans la perspective d’apprendre, créer et partager.</p>
    <h2>R&eacute;soudre un probl&egrave;me</h2>
    <p>Notre organisme se veut une réponse aux besoins de la communauté locale qui est souvent confrontée ou limitée par un manque d’espace ou de moyens requis à l’achat, l’utilisation et le remisage d’équipements ou outils nécessaires à la réalisation de certains projets. Notre organisme offre donc un accès à des équipements modernes, spécialisés et de qualité répondant aux besoins de la population.
    </p>
</div>

<h1 lang="en" id="about-the-team">About the Team</h1>
<h1 lang="fr" id="about-the-team">&Eacute;quipe</h1>

<div lang="en" class="row">
    <div class="col-md-2">
        <h4>Lambert <small>Founder</small></h4>
        <p class="text-center"><img src="{% static 'img/founder-lambert.png' %}" alt="Lambert" width="120" height="150" /></p>
        <p>Lambert has an inexplicable fascination for popcorn and toolboxes</p>
    </div>
    <div class="col-md-2">
        <h4>Corey <small>Co-Founder</small></h4>
        <p class="text-center"><img src="{% static 'img/founder-corey.png' %}" alt="Corey" width="120" height="150" /></p>
        <p>Corey thinks that any fact about him is in a superposition of interesting and not.</p>
    </div>
    <div class="col-md-2">
        <h4>Eric <small>Co-Founder</small></h4>
        <p class="text-center"><img src="{% static 'img/founder-eric.png' %}" alt="Eric" width="120" height="150" /></p>
        <p>Eric loves numbers. From counting steps to calculus, he is always doing something with numbers.</p>
    </div>
    <div class="col-md-2">
        <h4>Alexandre <small>Co-Founder</small></h4>
        <p class="text-center"><img src="{% static 'img/founder-alex.png' %}" alt="Alex" width="120" height="150" /></p>
        <p>Alex builds furnitures; he made his own bar and beer rack. Oh, and he also brews beer!</p>
    </div>
    <div class="col-md-2">
        <h4>Aaron <small>Co-Founder</small></h4>
        <p class="text-center"><img src="{% static 'img/founder-aaron.png' %}" alt="Aaron" width="120" height="150" /></p>
        <p>Aaron has a strange obsession with robotic actuators. As a matter of fact, he has a box of them.</p>
    </div>
    <div class="col-md-2"></div>
</div>

<div lang="fr" class="row">
    <div class="col-md-2">
        <h4>Lambert <small>Fondateur</small></h4>
        <p class="text-center"><img src="{% static 'img/founder-lambert.png' %}" alt="Lambert" width="120" height="150" /></p>
        <p>Lambert a une fascination inexplicable pour le popcorn et les bo&icirc;tes &agrave; outils.</p>
    </div>
    <div class="col-md-2">
        <h4>Corey <small>Co-Fondateur</small></h4>
        <p class="text-center"><img src="{% static 'img/founder-corey.png' %}" alt="Corey" width="120" height="150" /></p>
        <p>Corey a conclue qu'il y a une superposition de faits int&eacute;ressants et moins pertinents.</p>
    </div>
    <div class="col-md-2">
        <h4>Eric <small>Co-Fondateur</small></h4>
        <p class="text-center"><img src="{% static 'img/founder-eric.png' %}" alt="Eric" width="120" height="150" /></p>
        <p>Eric adore les codes barres. Il va en mettre partout pour faire l'inventaire.</p>
    </div>
    <div class="col-md-2">
        <h4>Alexandre <small>Co-Fondateur</small></h4>
        <p class="text-center"><img src="{% static 'img/founder-alex.png' %}" alt="Alex" width="120" height="150" /></p>
        <p>Alex construit des meubles; en fait il a construit son propre bar. Oh, et il brasse de la bi&egrave;re pour son bar!</p>
    </div>
    <div class="col-md-2">
        <h4>Aaron <small>Co-Founder</small></h4>
        <p class="text-center"><img src="{% static 'img/founder-aaron.png' %}" alt="Aaron" width="120" height="150" /></p>
        <p>Aaron a une obsession pour les actuateurs robotiques. En fait, il a une bo&icirc;te juste de ces pi&egrave;ces.</p>
    </div>
    <div class="col-md-2"></div>
</div>

<h1 lang="en" id="Press">Press</h1>
<h1 lang="fr" id="Press">Press</h1>

<div class="row">
    <div class="col-md-2">
        <h4><a href="http://www.echofab.org/2014/01/helios-maker-space-open-house-pre-ouverture/?lang=en" target="_blank">Echofab</a></h4>
        <p>2014-01-16<br /><i>"1600pi2 où on ne risque pas de déranger les voisins"</i></p>
    </div>
    <div class="col-md-2">
        <h4><a href="http://www.madeinmontreal.org/index.php/fr/nos-services/articles-speciales/683-helios-makerspace-un-atelier-communautaire-a-montreal" target="_blank">Made In Montreal</a></h4>
        <p>2014-01-30<br /><i>"fournir un espace où construction rime avec collaboration et apprentissage"</i></p>
    </div>
    <div class="col-md-2">
        <h4><a href="http://www.makerfairemontreal.ca/helios-makerspace/" target="_blank">Mini Maker Faire Montreal</a></h4>
        <p>2014-02-06<br /><i>"cet espace a été créé pour rassembler les ressources et les rendre disponible à la communauté"</i></p>
    </div>
    <div class="col-md-2">
        <h4><a href="http://csce.ecaconcordia.ca/troitsky-bridge-building-competition/">Troitsky Bridge Competition"</a></h4>
        <p>2014-03-22<br /><i>"Helios provided us with everything we needed and more"</i></p>
    </div>
    <div class="col-md-2">
        <h4><a href="http://plus.lapresse.ca/screens/4e3e-6d4c-534305e3-8dbb-0949ac1c6068%7C_0.html" target="_blank">La Press+</a></h4>
        <p>2014-04-12<br /><i>"Ici, on peut bricoler des meubles, réparer des pièces électroniques du quotidien et concevoir des prototypes avec l’imprimante"</i></p>
    </div>
    <div class="col-md-2"></div>
</div>

<h1 lang="en" id="Press">Contributors</h1>
<h1 lang="fr" id="Press">Contributeurs</h1>
<div class="row">
    <div class="col-md-4">
        <p><img src="{% static 'img/ieeeconcordia.png' %}" width="250"></p>
    </div>
    <div class="col-md-4">
        <p><img src="{% static 'img/district3.png' %}" width="250"></p>
    </div>
    <div class="col-md-4">

    </div>        
</div>
{% endblock %}
