{% extends "main/main.html" %}
{% load staticfiles %}
{% block content %}
<h1 id="contact-us">Contact Us</h1>
<h2 id="email-us">Email us</h2>
<p><a href="mailto:info@heliospace.ca">info@heliospace.ca</a></p>
<h2 id="irc">IRC</h2>
<p><a href="http://webchat.freenode.net/?channels=heliosmakerspace">#heliosmakerspace</a></p>
<h2 id="address">Address</h2>
<p>137 Saint-Ferdinand Suite 270</p>
<h2 id="alternate-entrance">Alternate Entrance</h2>
<p>4035 Saint-Ambroise Suite 270</p>
<h2 id="public-transit">Public Transit</h2>
<p>Place Saint-Henri Metro Station on the orange line.</p>
<p><a href="https://maps.google.com/maps?saddr=Station+de+m%C3%A9tro+Place-Saint-Henri&amp;daddr=4035+St-Ambroise&amp;hl=fr&amp;ie=UTF8&amp;sll=45.477224,-73.582548&amp;sspn=0.00659,0.013937&amp;geocode=FVLttQIdPiid-yFG5qyY5IU1nCmfLNnSnRDJTDFG5qyY5IU1nA%3BFVfntQIdkD6d-ynP0tQxgxDJTDHYfxVzUg_ClQ&amp;dirflg=w&amp;mra=ltm&amp;t=m&amp;z=18"><img src="mapmetro.png" alt="Direction Map from Metro"></a></p>
{% endblock %}
