{% extends "main/main.html" %}
{% load staticfiles %}
{% block content %}

<script src="http://coinwidget.com/widget/coin.js"></script>

<div class="well">
<div class="row">
<div class="col-sm-6">

    <!-- Start Carousel -->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="{% static 'img/front-layout.png' %}" alt="">
          <div lang="en" class="carousel-caption"></div>
          <div lang="fr" class="carousel-caption"></div>
        </div>
        <div class="item">
          <img src="{% static 'img/1.JPG' %}" alt="">
          <div lang="en" class="carousel-caption"></div>
          <div lang="fr" class="carousel-caption"></div>
        </div>
        <div class="item">
          <img src="{% static 'img/2.JPG' %}" alt="">
          <div lang="en" class="carousel-caption"></div>
          <div lang="fr" class="carousel-caption"></div>
        </div>
        <div class="item">
          <img src="{% static 'img/3.JPG' %}" alt="">
          <div lang="en" class="carousel-caption"></div>
          <div lang="fr" class="carousel-caption"></div>
        </div>
        <div class="item">
          <img src="{% static 'img/4.JPG' %}" alt="">
          <div lang="en" class="carousel-caption"></div>
          <div lang="fr" class="carousel-caption"></div>
        </div>
        <div class="item">
          <img src="{% static 'img/5.JPG' %}" alt="">
          <div lang="en" class="carousel-caption"></div>
          <div lang="fr" class="carousel-caption"></div>
        </div>
      </div>


      <!--Controls-->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
    <!--End Carousel-->  

    <!--
    <div class="visible-xs text-center"><img src="{% static 'img/logo-sm.png' %}" alt="Helios Makerspace (xs)" /></div>
    <div class="visible-sm"><img src="{% static 'img/logo-sm.png' %}" alt="Helios Makerspace (sm)" /></div>
    <div class="visible-md"><img src="{% static 'img/logo-md.png' %}" alt="Helios Makerspace (md)" /></div>
    <div class="visible-lg"><img src="{% static 'img/logo-lg.png' %}" alt="Helios Makerspace (lg)" /></div>
    -->
</div>
<div class="col-sm-6">
    <h2 lang="en">Our Services</h2>
    <ul lang="en">
        <li>Access to a 3D printer, the MakerGear M2.</li>
        <li>Access to a wood workshop for cutting, drilling, sanding wood.</li>
        <li>Access to an electronic lab for building, soldering, debugging circuits.</li>
        <li>Access to a work space surrounded by makers and awesome projects.</li>
        <li>Access to free WIFI. You can just come hang out, program, browse the internet.</li>
        <li>It&#39;s really a community space that happens to have awesome tools.</li>
    </ul>
    <h2 lang="fr">Nos Services</h2>
    <ul lang="fr">
        <li>Accès à une imprimante 3D, la MakerGear M2.</li>
        <li>Accès à un atelier de bois pour la coupe, perçage et sablage du bois.</li>
        <li>Accès à un labo d'électronique pour la conception, soudure et analyse des circuits.</li>
        <li>Accès à un espace de travail entouré de makers et de projets formidables.</li>
        <li>Accès à WIFI gratuit. On peut venir et juste jaser, programmer, naviguer</li>
        <li>C'est en fait un espace communautaire équipé avec une variété d'outils</li>
    </ul>
    <h2 lang="en">Membership Rate</h2>
    <h2 lang="fr">Devenir Membre</h2>
    <p lang="en">Starting from <a href="{% url 'membershipPage' %}">42.00$/month</a></p>
    <p lang="fr">À partir de <a href="{% url 'membershipPage' %}">42.00$/mois</a></p>
    <p lang="en">Our mission is to provide access to the community to a space and tools. You can be an artist, a student, a hobbyist, an entrepreneur, everybody is welcome to become a member.</p>
    <p lang="fr">Notre mission est de donner l'accès à la communauté à un espace et des outils. Un membre peut être un artiste, un étudiant, un hobbyiste, un entrepreneur; c'est vraiment un espace ouvert à tous!</p>

</div>
</div>
</div>

<div class="row">
<div lang="en" class="col-md-2">
    <h3>Contribute</h3>
    <div><a href="http://heliospace.ca/tutorial" target="_blank">Suggest a tutorial</a></div>
    <div><a href="http://heliospace.ca/volunteer" target="_blank">Volunteering at Helios</a></div>
    <div><a href="http://heliospace.ca/studio">Need a studio space? Tell us more!</a></div>
    <!--<div><a href="{% url 'inventoryList' %}">Tools</a></div>
    <div><a href="{% url 'schedulePage' %}">Schedule</a></div>
    <div><a href="{% url 'membershipPage' %}">Membership</a></div>
    <div><a href="{% url 'contactPage' %}">Address</a></div>-->

</div>
<div lang="fr" class="col-md-2">
    <h3>Contribuer</h3>
    <div><a href="http://heliospace.ca/tutorial" target="_blank">Suggérer un atelier</a></div>
    <div><a href="http://heliospace.ca/volunteer" target="_blank">Bénévolat à Helios</a></div>
    <div><a href="http://heliospace.ca/studio">Besoin d'un studio? On veut vous aider!</a></div>
    <!--<div><a href="{% url 'inventoryList' %}">Outils</a></div>
    <div><a href="{% url 'schedulePage' %}">Horaire</a></div>
    <div><a href="{% url 'membershipPage' %}">Abonnement</a></div>
    <div><a href="{% url 'contactPage' %}">Adresse</a></div>-->

</div>
    
<div lang="en" class="col-md-2">
    <h3>Hours</h3>
    <div>Wednesday: 1PM-9PM</div>
    <div>Thursday: 1PM-9PM</div>
    <div>Friday: 2PM-9PM</div>
    <div>Saturday: 1PM-8PM</div>
    <div>Sunday: 11AM-3PM</div>
    <h4>Community Night</h4>
    <div>Thursday 4PM-9PM (Free)</div>
</div>
<div lang="fr" class="col-md-2">
    <h3>Horaire</h3>
    <div>Mercredi : 13h-21h</div>
    <div>Jeudi: 13h-21h</div>
    <div>Vendredi: 14h-21h</div>
    <div>Samedi: 13h-20h</div>
    <div>Dimanche: 11h-15h</div>
    <h4>Soirée Communautaire</h4>
    <div>Jeudi 16h-21h (Gratuit)</div>
</div>
    
<div class="col-md-2">
    <h3 lang="en">Follow Us</h3>
    <h3 lang="fr">Nous Suivre</h3> 
    <div><a href="https://www.facebook.com/heliosmakerspace">Facebook</a></div>
    <div><a href="http://www.youtube.com/channel/UCG9hdnqehOrva9maMjFi15Q">Youtube</a></div>
    <div><a href="https://plus.google.com/+HeliosMakerspace/posts">Google+</a></div>
    <div><a href="https://twitter.com/heliosmakers">Twitter</a></div>
    <div><a href="http://webchat.freenode.net/?channels=heliosmakerspace">IRC</a></div>
</div>
<div class="col-md-2">
    <h3 lang="en">Contact</h3>
    <h3 lang="fr">Nous Joindre</h3>
    <div>info@heliospace.ca</div>
    <div>137 Saint-Ferdinand</div>
    <div>Suite 270</div>
    <div>Montreal, QC, H4C 2S6</div>
    <div>Canada</div>
    <div>(Metro Place-Saint-Henri)</div>
</div>

<div lang="en"class="col-md-4">
    <h3>Newsletter</h3>
    <form action="http://heliospace.us7.list-manage.com/subscribe/post?u=1905f8d3301878e38c708d44a&amp;id=775d18aa4f" method="post">
    <p><input name="EMAIL" type="email" class="form-control input" placeholder="Email address"></p>
    <p><input id="mc-embedded-subscribe" class="form-control btn btn-primary" name="subscribe" value="Subscribe to Helios' Newsletter" type="submit"></p>
    </form>
    <!--<h4>Donations</h4>-->
    <div>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick" /> <input type="hidden" name="hosted_button_id" value="N2XUG9W7EMWFY" />
            <input style="width: 80px;" type="image" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" alt="PayPal - The safer, easier way to pay online!" />
            <img src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" border="0" alt="" width="1" height="1" />
        </form>
    </div>
    <div>
        <script>
        CoinWidgetCom.go({
            wallet_address: "1BpzakXCVq5qhgj8DcBt3audbVnZeTQ1Sv"
            , currency: "bitcoin"
            , counter: "hide"
            , alignment: "bl"
            , qrcode: true
            , auto_show: false
            , lbl_button: "Donate"
            , lbl_address: "Our Bitcoin Address:"
            , lbl_count: "donations"
            , lbl_amount: "BTC"
        });
        </script>
    </div>
    <div>
        <script>
        CoinWidgetCom.go({
            wallet_address: "Lah2YBEmBMkjmR4tpxHr9nPk5qGk5ZUMz3"
            , currency: "litecoin"
            , counter: "hide"
            , alignment: "bl"
            , qrcode: true
            , auto_show: false
            , lbl_button: "Donate"
            , lbl_address: "Our Litecoin Address:"
            , lbl_count: "donations"
            , lbl_amount: "LTC"
        });
        </script>
    </div>
</div>

<div lang="fr"class="col-md-4">
    <h3>Bulletin</h3>
    <form action="http://heliospace.us7.list-manage.com/subscribe/post?u=1905f8d3301878e38c708d44a&amp;id=775d18aa4f" method="post">
    <p><input name="EMAIL" type="email" class="form-control input" placeholder="Courriel"></p>
    <p><input id="mc-embedded-subscribe" class="form-control btn btn-primary" name="subscribe" value="S'inscrire au Bulletin" type="submit"></p>
    </form>
    <!--<h4>Dons</h4>-->
    <div>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick" /> <input type="hidden" name="hosted_button_id" value="N2XUG9W7EMWFY" />
            <input style="width: 80px;" type="image" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" alt="PayPal - The safer, easier way to pay online!" />
            <img src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" border="0" alt="" width="1" height="1" />
        </form>
    </div>
    <div>
        <script>
        CoinWidgetCom.go({
            wallet_address: "1BpzakXCVq5qhgj8DcBt3audbVnZeTQ1Sv"
            , currency: "bitcoin"
            , counter: "hide"
            , alignment: "bl"
            , qrcode: true
            , auto_show: false
            , lbl_button: "Don"
            , lbl_address: "Notre Addresse Bitcoin:"
            , lbl_count: "donations"
            , lbl_amount: "BTC"
        });
        </script>
        <script>
        CoinWidgetCom.go({
            wallet_address: "Lah2YBEmBMkjmR4tpxHr9nPk5qGk5ZUMz3"
            , currency: "litecoin"
            , counter: "hide"
            , alignment: "bl"
            , qrcode: true
            , auto_show: false
            , lbl_button: "Don"
            , lbl_address: "Notre Addresse Litecoin:"
            , lbl_count: "donations"
            , lbl_amount: "LTC"
        });
        </script>
    </div>
</div>

</div>

<p></hr> </p>
<div class="row">
    <div class="col-md-6">
        <h3 lang="en" style="display: none;">Twitter</h3>
        <h3 lang="fr">Twitter</h3>
        <p>
            <a class="twitter-timeline"  href="https://twitter.com/heliosmakers"  data-widget-id="457763217884729344">Tweets by @heliosmakers</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </p>
    </div>
    <div class="col-md-6">
        <h3 lang="en" style="display: none;">Events & Registration</h3>
        <h3 lang="fr">&Eacute;v&eacute;nements & Inscription</h3>
        <p>
            <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=200&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=7kj0oia8cmrok6uc9cg5s59fr8%40group.calendar.google.com&amp;color=%232F6309&amp;ctz=America%2FToronto" style=" border-width:0 " width="500" height="250" frameborder="0" scrolling="no"></iframe>
        </p>
    </div>
    <!--
    <div class="col-md-3">
        <h3 lang="en">Workshop</h3>
        <h3 lang="fr">L'atelier</h3>
        <p><img src="{% static 'img/home-thumb1.png' %}" alt="Workshop" width="200" height="150" /></p>
    </div>
    <div class="col-md-3">
        <h3 lang="en">Tools</h3>
        <h3 lang="fr">Outils</h3>
        <p><img src="{% static 'img/home-thumb2.png' %}" alt="Tools" width="200" height="150" /></p>
    </div>
    <div class="col-md-3">
        <h3 lang="en">Electronics Lab</h3>
        <h3 lang="fr">Labo Electronique</h3>
        <p><img src="{% static 'img/home-thumb3.png' %}" alt="Lab" width="200" height="150" /></p>
    </div>
    <div class="col-md-3">
        <h3 lang="en">Workspace</h3>
        <h3 lang="fr">Espace de Travail</h3>
        <p><img src="{% static 'img/home-thumb4.png' %}" alt="Workspace" width="200" height="150" /></p>
    </div>
    -->
</div>
{% endblock %}
