{% extends "main/main.html" %}
{% load staticfiles %}
{% block content %}

<div class="well">
<div class="row">
<div class="col-sm-6">
    <div class="visible-xs text-center"><img src="{% static 'img/logo-sm.png' %}" alt="Helios Makerspace (xs)" /></div>
    <div class="visible-sm"><img src="{% static 'img/logo-sm.png' %}" alt="Helios Makerspace (sm)" /></div>
    <div class="visible-md"><img src="{% static 'img/logo-md.png' %}" alt="Helios Makerspace (md)" /></div>
    <div class="visible-lg"><img src="{% static 'img/logo-lg.png' %}" alt="Helios Makerspace (lg)" /></div>
</div>
<div class="col-sm-6">
    <h2 lang="en">Our Services</h2>
    <ul lang="en">
        <li>Access to a 3D printer, the MakerGear M2 [by end of March].</li>
        <li>Access to a wood workshop for cutting, drilling, sanding wood.</li>
        <li>Access to an electronic lab for building, soldering, debugging circuits.</li>
        <li>Access to a work space surrounded by makers and awesome projects.</li>
        <li>Access to free WIFI. You can just come hang out, program, browse the internet.</li>
        <li>It&#39;s really a community space that happens to have awesome tools.</li>
    </ul>
    <h2 lang="fr">Nos Services</h2>
    <ul lang="fr">
        <li>Accès à une imprimante 3D, la MakerGear M2 [fin Mars].</li>
        <li>Accès à un atelier de bois pour la coupe, perçage et sablage du bois.</li>
        <li>Accès à un labo d'électronique pour la conception, soudure et analyse des circuits.</li>
        <li>Accès à un espace de travail entouré de makers et de projets formidables.</li>
        <li>Accès à WIFI gratuit. On peut venir et juste jaser, programmer, naviguer l'internet.</li>
        <li>C'est en fait un espace communautaire équipé avec une variété d'outils super utiles.</li>
    </ul>
    <h2 lang="en">Membership Rate</h2>
    <h2 lang="fr">Devenir Membre</h2>
    <p lang="en">50.00$/month</p>
    <p lang="fr">50.00$/mois</p>
    <p lang="en">Our mission is to provide access to the community to a space and tools. You can be an artist, a student, a hobbyist, an entrepreneur, everybody is welcome to become a member.</p>
    <p lang="fr">Notre mission est de donner l'accès à la communauté à un espace et des outils. Un membre peut être un artiste, un étudiant, un hobbyiste, un entrepreneur; c'est vraiment un espace ouvert à tous!</p>

</div>
</div>
</div>

<div class="row">
<div lang="en" class="col-md-2">
    <h3>More Info</h3>

    <div>Tools List and Workshop</div>
    <div>Schedule</div>
    <div>Membership</div>
    <div>Map &amp; Address</div>
    <div>Blog</div>
</div>
    <div lang="fr" class="col-md-2">
    <h3>Plus d'Info</h3>

    <div>L'atelier et les Outils</div>
    <div>Horaire</div>
    <div>Être Membre</div>
    <div>Carte &amp; Adresse</div>
    <div>Blog</div>
</div>
    
<div lang="en" class="col-md-2">
    <h3>Hours</h3>

    <div>Wednesday: 1PM-9PM</div>
    <div>Thursday: 1PM-9PM</div>
    <div>Friday: 2PM-9PM</div>
    <div>Saturday: 1PM-8PM</div>
    <h4>Community Night</h4>
    <div>Thursday 4PM-9PM (Free)</div>
</div>
    <div lang="fr" class="col-md-2">
    <h3>Horaire</h3>

    <div>Mercredi : 13h-21h</div>
    <div>Jeudi: 13h-21h</div>
    <div>Vendredi: 14h-21h</div>
    <div>Samedi: 13h-20h</div>
    <h4>Soirée Communautaire</h4>
    <div>Jeudi 16h-21h (Gratuit)</div>
</div>
    
<div class="col-md-2">
    <h3 lang="en">Follow Us</h3>
    <h3 lang="fr">Nous Suivre</h3>
    
    <div>Facebook</div>
    <div>Youtube</div>
    <div>Google+</div>
    <div>Twitter</div>
    <div>IRC</div>
</div>
<div class="col-md-2">
    <h3 lang="en">Contact</h3>
    <h3 lang="fr">Nous Contacter</h3>

    <div>info@heliospace.ca</div>
    <div>4035 Saint-Ambroise</div>
    <div>Suite 270</div>
    <div>Montreal, QC, H4C 2S6</div>
    <div>Canada</div>
    <div>(Metro Place-Saint-Henri)</div>
</div>
<div lang="en"class="col-md-4">
    <h3>Newsletter</h3>

    <form action="http://heliospace.us7.list-manage.com/subscribe/post?u=1905f8d3301878e38c708d44a&amp;id=775d18aa4f" method="post">
    <p><input name="EMAIL" type="email" class="form-control input" placeholder="Email address"></p>
    <p><input id="mc-embedded-subscribe" class="form-control btn btn-primary" name="subscribe" value="Subscribe to Helios' Newsletter" type="submit"></p>
    </form>

</div>

<div lang="fr"class="col-md-4">
    <h3>Bulletin</h3>

    <form action="http://heliospace.us7.list-manage.com/subscribe/post?u=1905f8d3301878e38c708d44a&amp;id=775d18aa4f" method="post">
    <p><input name="EMAIL" type="email" class="form-control input" placeholder="Courriel"></p>
    <p><input id="mc-embedded-subscribe" class="form-control btn btn-primary" name="subscribe" value="S'inscrire au Bulletin" type="submit"></p>
    </form>

</div>


</div>

<p></hr> </p>
<div class="row">
<div class="col-md-3">
    <h3 lang="en">Workshop</h3>
    <h3 lang="fr">L'atelier</h3>
    <p><img src="{% static 'img/home-thumb1.png' %}" alt="Workshop" width="200" height="150" /></p>
</div>
<div class="col-md-3">
    <h3 lang="en">Tools</h3>
    <h3 lang="fr">Outils</h3>
    <p><img src="{% static 'img/home-thumb2.png' %}" alt="Tools" width="200" height="150" /></p>
</div>
<div class="col-md-3">
    <h3 lang="en">Electronics Lab</h3>
    <h3 lang="fr">Labo Electronique</h3>
    <p><img src="{% static 'img/home-thumb3.png' %}" alt="Lab" width="200" height="150" /></p>
</div>
<div class="col-md-3">
    <h3 lang="en">Workspace</h3>
    <h3 lang="fr">Espace de Travail</h3>
    <p><img src="{% static 'img/home-thumb4.png' %}" alt="Workspace" width="200" height="150" /></p>
</div>
</div>
{% endblock %}
