{% extends "main/main.html" %}
{% load staticfiles %}
{% block content %}
<h1 lang="en">Membership</h1>
<h1 lang="fr">Tarif de Membres</h1>
<h2 lang="en">Rates</h2>
<h2 lang="fr">Tarifs</h2>
<table class="table table-condensed">
    <thead>
        <tr>
            <th lang="en">Type</th>
            <th lang="en">Rate</th>
            <th lang="fr">Passe</th>
            <th lang="fr">Prix</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td lang="en">Beta-phase Membership <strong><i>(available until May 1st)</i></strong> <strong>*</strong></td>
            <td lang="en">50.00$/month</td>
            <td lang="fr">Abonnement Phase-Beta <strong><i>(disponible jusqu'au 1er Mai)</i></strong> <strong>*</strong></td>
            <td lang="fr">50.00$/mois</td>
        </tr>
        <tr>
            <td lang="en">Annual Membership</td>
            <td lang="en">500.00$/year</td>            
            <td lang="fr">Abonnement  Annuel</td>
            <td lang="fr">500.00$/année</td>
        </tr>  
        <tr>
            <td lang="en">Monthly Membership</td>
            <td lang="en">75.00$/month</td>            
            <td lang="fr">Abonnement Mensuel</td>
            <td lang="fr">75.00$/mois</td>
        </tr>        
        <tr>
            <td lang="en">Monthly Membership for Students</td>
            <td lang="en">50.00$/month</td>
            <td lang="fr">Abonnement Mensuel pour Étudiant</td>
            <td lang="fr">50.00$/mois</td>
        </tr>
        <tr>
            <td lang="en">Weekly Rate</td>
            <td lang="fr">Tarif Hebdomadaire</td>
            <td lang="en">25.00$/week</td>
            <td lang="fr">25.00$/semaine</td>
        </tr>
        <tr>
            <td lang="en">Daily Rate</td>
            <td lang="fr">Tarif par Journ&eacute;e</td>
            <td lang="en">10.00$/day</td>
            <td lang="fr">10.00$/jour</td>
        </tr>
    </tbody>
</table>
<p lang="en"><strong>*</strong> To thanks the beta-testers, beta-phase members can pay the lowest membership price of 50.00$/mois until December 2014.</p>
<p lang="fr"><strong>*</strong> Pour remercier les testeurs-beta, les membres de la phase-beta paierons le tarif pr&eacute;f&eacute;renciel de 50.00$/mois jusqu'en D&eacute;cembre 2014.</p>

<h2 lang="en">How do I get a membership</h2>
<h2 lang="fr">Comment puis-je obtenir une adhésion de membre</h2>
<p lang="en">Simply show up during any of our opening hours (see <a href="{% url 'schedulePage' %}">Schedule</a>) and it will be our pleasure to walk you through the process.</p>
<p lang="fr">Pr&eacute;sentez-vous simplement durant l'une de nos heures d'ouvertures (voir <a href="{% url 'schedulePage' %}">l'horaire</a>) et il nous fera plaisir de vous guider à travers le processus.</p>

<h2 lang="en">Why become a member</h2>
<h2 lang="fr">Pourquoi devenir un membre</h2>
<div lang="en">
    <p>Membership helps the makerspace be sustainable. With your contribution, it helps us pay the rent, the internet, repairing and purchasing tools.</p>
    <p>It also gives you access during the week to the workshop.</p>
    <p>Being a member also means that you can decide the direction where the makerspace is going. Thus, every member have a voting right during general assembly and annual assembly.</p>
    <p>And of course, as a member, you get to use the tools and equipment in the workshop. To be extra safe, some equipment require an introduction before a member can use it.</p>
</div>
<div lang="fr">
    <p>L'adh&eacute;sion permet au &#x00ab;Makerspace&#x00bb; d'&ecirc;tre durable. Avec votre contribution, vous aidez &agrave; payer le loyer, l'internet, la r&eacute;paration et l'achat d'outils. </p>
    <p>&Ecirc;tre membre signifie &eacute;galement que vous pouvez d&eacute;cider de la direction que prend le &#x00ab;Makerspace&#x00bb;. Ainsi, chaque membre poss&egrave;de un droit de vote lors de l'assembl&eacute;e g&eacute;n&eacute;rale et l'assembl&eacute;e annuelle. </p>
    <p>Et bien s&ucirc;r, en tant que membre, vous aurez acc&egrave;s aux outils et aux &eacute;quipements de l'atelier. Pour plus de s&eacute;curit&eacute;s, certains &eacute;quipements n&eacute;cessitent une introduction avant qu'un membre puisse l'utiliser. </p>
</div>
<h3 lang="en">This includes:</h3>
<h3 lang="fr">Cela comprend:</h3>
<ul>
    <li lang="en">All of our <a href="{% url 'inventoryList' %}">Tools & Equipment</a></li>
    <li lang="fr">Tous de nos <a href="{% url 'inventoryList' %}">Outils & &Eacute;quipement</a></li>
    <li lang="en">And many more things that we didn&#39;t list (like a fridge, free Wi-Fi, electronics parts, wood, etc...)</li>
    <li lang="fr">Et beaucoup plus de choses dont nous n'avons pas de liste (comme le r&eacute;frig&eacute;rateur, Wifi, les pi&egrave;ces &eacute;lectroniques, le bois, etc)</li>
</ul>

<h2 lang="en">Basic Code of Conduct</h2>
<h2 lang-"fr">Code de conduite</h2>
<ol lang="en">
    <li>Maintain a safe environment for all members</li>
    <li>Clean after you are done</li>
    <li>Use reasonably the resources in the space</li>
    <li>Respect the volunteers, staff, members and guests of the makerspace</li>
</ol>
<ol lang="fr">
    <li>Maintenir un environnement s&eacute;curitaire pour tous les membres.</li>
    <li>Nettoyer apr&egrave;s avoir termin&eacute; l'utilisation des &eacute;quipements.</li>
    <li>Utilisez raisonnablement les ressources dans l'espace. </li>
    <li>Respecter les b&eacute;n&eacute;voles, le personnel, les membres et les invit&eacute;s du &#x00ab;Makerspace&#x00bb;.</li>
</ol>

{% endblock %}
