{% extends "main/main.html" %}

{% block content %}
<h1 id="membership">Membership</h1>
<h2 id="rates">Rates</h2>
<table>
<thead>
<tr>
<th>Type</th>
<th>Rate</th>
</tr>
</thead>
<tbody>
<tr>
<td>Beta-phase Membership<strong>*</strong></td>
<td>50.00$/month</td>
</tr>
<tr>
<td>Student Membership</td>
<td>TBD</td>
</tr>
<tr>
<td>Regular Membership</td>
<td>TBD</td>
</tr>
</tbody>
</table>
<p><strong>*</strong> As we continue to build Helios, we would like offer a discounted membership rate for early adopters. The first members of any community have a major influence in how it develops and we would like to give props for that. As we become better equipped and have our grand opening pricing will be revisited. (see Schedule).</p>
<h2 id="how-do-i-get-a-membership">How do I get a membership</h2>
<p>Simply show up during any of our opening hours (see <a href="schedule.md">Schedule</a>) and it will be our pleasure to walk you through the process.</p>
<h2 id="why-become-a-member">Why become a member</h2>
<p>Membership helps the makerspace be sustainable. With your contribution, it helps us pay the rent, the internet, repairing and purchasing tools.</p>
<p>It also gives you access during the week to the workshop.</p>
<p>Being a member also means that you can decide the direction where the makerspace is going. Thus, every member have a voting right during general assembly and annual assembly.</p>
<p>And of course, as a member, you get to use the tools and equipment in the workshop. To be extra safe, some equipment require an introduction before a member can use it.</p>
<h3 id="this-includes-">This includes:</h3>
<ul>
<li><strong>Power tools</strong>: table saw, chop saw, drill press, grinder</li>
<li><strong>Handheld tools</strong>: drill, sander, orbital sander, dremel</li>
<li><strong>Electronics</strong>: oscilloscope, signal generator, computers</li>
<li>And many more things that we didn&#39;t list (like a fridge, free Wi-Fi, electronics parts, wood, etc...)</li>
</ul>
<h2 id="basic-code-of-conduct">Basic Code of Conduct</h2>
<ol>
<li>Maintain a safe environment for all members</li>
<li>Clean after you are done</li>
<li>Use reasonably the resources in the space</li>
<li>Respect the volunteers, staff, members and guests of the makerspace</li>
</ol>

{% endblock %}
