<ul lang="en" class="nav navbar-nav">
    <li><a href="{% url 'aboutPage' %}">About Us</a></li>
    <li><a href="{% url 'schedulePage' %}">Schedule</a></li>
    <li><a href="{% url 'inventoryList' %}">Tools & Equipment</a></li>
    <li><a href="{% url 'membershipPage' %}">Membership</a></li>
    <li><a href="{% url 'contactPage' %}">Contact Us</a></li>
</ul>

<ul lang="fr" class="nav navbar-nav">
    <li><a href="{% url 'aboutPage' %}">À Propos</a></li>
    <li><a href="{% url 'schedulePage' %}">Horaire</a></li>
    <li><a href="{% url 'inventoryList' %}">Outils & Équipement</a></li>
    <li><a href="{% url 'membershipPage' %}">Être Membre</a></li>
    <li><a href="{% url 'contactPage' %}">Nous Contacter</a></li>
</ul>
