<ul lang="en" class="nav navbar-nav">
    <li><a href="{% url 'aboutPage' %}">About Us</a></li>
    <li><a href="{% url 'schedulePage' %}">Schedule & Events</a></li>
    <li><a href="{% url 'inventoryList' %}">Tools & Equipment</a></li>
    <li><a href="{% url 'downloadPage' %}">Files</a></li>
    <li><a href="{% url 'membershipPage' %}">Membership</a></li>
    <li><a href="{% url 'contactPage' %}">Contact Us</a></li>
</ul>

<ul lang="fr" class="nav navbar-nav">
    <li><a href="{% url 'aboutPage' %}">&Agrave; Propos</a></li>
    <li><a href="{% url 'schedulePage' %}">Horaire &amp; Activit&eacute;s</a></li>
    <li><a href="{% url 'inventoryList' %}">Outils &amp; &Eacute;quipement</a></li>
    <li><a href="{% url 'downloadPage' %}">Fichiers</a></li>
    <li><a href="{% url 'membershipPage' %}">&Ecirc;tre Membre</a></li>
    <li><a href="{% url 'contactPage' %}">Nous Contacter</a></li>
</ul>
