{% extends "main/main.html" %}

{% block content %}
<h1 lang="en">Makerspace Schedule</h1>
<h1 lang="fr">Horaire du Makerspace</h1>
<iframe name="iframe"
src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=n0cnseaa2h7u3hkf73fov14d48%40group.calendar.google.com&amp;color=%232952A3&amp;src=helios.makerspace%40gmail.com&amp;color=%23875509&amp;ctz=America%2FMontreal" scrolling="no" frameborder="0" width="100%" height="720">This option will not work correctly. Unfortunately, your browser does not support inline frames.</iframe>

<h1 lang="en">Events</h1>
<h1 lang="fr">Activit&eacute;s</h1>
<iframe name="iframe"
src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;mode=MONTH&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=7kj0oia8cmrok6uc9cg5s59fr8%40group.calendar.google.com&amp;ctz=America%2FMontreal" scrolling="no" frameborder="0" width="100%" height="720">This option will not work correctly. Unfortunately, your browser does not support inline frames.</iframe>
{% endblock %}
