{#  {% extends "main/main.html" %} #}
{% load staticfiles %}
{% block content %}

<h1>Inventory list</h1>


{% if item_list %}
<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Category</th>
      <th>name</th>
    </tr>
  </thead>
  <tbody>
    {% for itm in item_list %}
    <tr>
      <td>{{itm.pk}}</td>
      <td>{{itm.category}}</td>
      <td><a href="item/{{itm.id}}">{{itm.name}}</a></td>
    </tr>
      {% endfor %}
  </tbody>
</table>
{% else %}
No items...
{% endif %}

{% endblock %}
