{% extends "main/main.html" %}
{% load staticfiles %}
{% block content %}

<h1>{{item.name}}</h1>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Tag</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Serial Number</td>
      <td>{{item.serial_number}}</td>
    </tr>
    <tr>
      <td>Category</td>
      <td>{{item.category}}</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>{{item.description}}</td>
    </tr>
  </tbody>
</table>

{% if logged_in %}

<form action="" method="post" enctype="multipart/form-data" role="form">
  <div calss="form-group"> 
    <p>{{ form.non_field_errors }}</p>
    <p>{{ form.imgfile.label_tag }} {{ form.imgfile.help_text }}</p>
    <p>
      {{ form.imgfile.errors }}
      {{ form.imgfile }}
    </p>
    <p><input type="submit" value="Upload" /></p>
  </div>
</form>

{% endif %}

{% endblock %}

